body{
	background:aliceblue;
}
.text-center {
    text-align: center;
}
.mesasContainer {
	.zona{
		margin:10px;
		background:cornflowerblue;
		height: 60px;
		padding:10px;
	}

	.mesa{
	    margin: 10px 7px 10px 10px;
		height: 120px;
		background: cornflowerblue;
		padding-top:40px;
		margin-left:10px !important;
	}
	.mesa-short{
		height: 58px;
    	margin: 10px 0px -6px -3px !important;
		padding-top:20px;
	}
}
.familiaBtn {
	margin: 5px;
    height: 60px;
    padding-top: 12px !important;
	background: cornflowerblue;
	&.agregar{
		margin-left: 0;
	}


	&.familia1:after, &.familia3:after, &.familia4:after, &.familia5:after, &.familia6:after, &.familia7:after{
		width: 40px;
	    height: 40px;
	    content:"";
	    position: absolute;
	    left: 18px;
	}

}

	.familia1{
		background:#93cdf1 !important;
		&:after{
			background: url(/public/images/varios.png) no-repeat;
			background-size: 35px 35px !important;
	    	margin: 0;
		}
	}
	.familia3{
		background:#93bcf1 !important;
		&:after{
			background: url(/public/images/cafeteria.png) no-repeat;
			background-size: 35px 35px !important;
	    	margin: 0;
		}
	}
	.familia4{
		background:#4C99CF !important;
		&:after{
			background: url(/public/images/bebidas.png) no-repeat;
			background-size: 35px 41px !important;
	    	margin: 0;
		}
	}
	.familia5{
		background:#4973A5 !important;
		&:after{
			background: url(/public/images/cocina.png) no-repeat;
		    background-size: 40px 27px !important;
		    margin-top: 3px;
		}
	}
	.familia6{
		background:#5A5387 !important;
		&:after{
			background: url(/public/images/postres.png) no-repeat;
		    background-size: 33px 40px !important;
		    margin-top: -2px;
		}
	}
	.familia7{
		background:#514364 !important;
		&:after{
			background: url(/public/images/menus.png) no-repeat;
			background-size: 35px 35px !important;
	   		margin: 0;
		}
	}

nav {
	background: none !important;
}
.btn{
	&:hover{
		background: cornflowerblue;
	
	}
	&:focus{
		background: cornflowerblue;
		opacity: 0.7;
	}
}
.menuBar{
	background:cornflowerblue;
	height:40px;
	a {
		color:white;
		margin-left:20px;
		i{

		font-size:40px;
		}
	}
	span {
	    display: block;
	    float: right;
	    color: white;
	    margin-right: 20px;
	    font-size: 28px;
	}
}

.btn{
	transition:none !important;
}

.remove{
    float: right;
    width: 28px;
    height: 30px;
    padding-left: 10px;
    border-radius: 3px;
    padding-top: 4px;
    color: white;
    z-index:9999;
    margin-right:-10px;
}
.attention{
    background:#f19396 !important;
}
.pedidosList{
	li{
		height: 30px;
		padding-top:2px;
		color:white;
		&:first-child{
			border-radius:3px 3px 0px 0px;
		}
		&:last-child{
			border-radius:0px 0px 3px 3px ;
		}
		&:only-child{
			border-radius:3px 3px 3px 3px ;
		}
		span.pedidoName{
		    margin-top: 5px;
		    display: block;
		    margin-left: 5px;
		    width: calc(100% - 100px);
		    float: left;
			width: 250px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
/*.arrow-after:after{
	content: '\f0da';
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	margin:0px 0px 0px 10px;
	text-decoration:none;
}*/

.ticket:after{
	background: url(/public/images/ticket.png) no-repeat;
    background-size: 30px 40px !important;
    margin-top: -13px;
    width: 40px;
    height: 40px;
    content: "";
    position: absolute;
    left: 13px;
}
.cuenta:after{
	background: url(/public/images/cuenta.png) no-repeat;
    background-size: 35px 35px !important;
    margin-top: -7px;
    width: 40px;
    height: 40px;
    content: "";
    position: absolute;
    left: 10px;
}

.or-spacer {
  margin-top: 28px;
    margin-left: 0px;
    position: absolute;
  	opacity: 0.4;
  
  .mask { 
    overflow:hidden; height:20px; 
    &:after { 
      content:''; 
      display:block; margin:-25px auto 0;
      width:100%; height:25px;  
      border-radius:125px / 12px;  
      box-shadow:0 0 8px black;
    }
  }
  span {
    $size:50px;
    width:$size; height:$size; 
    position:absolute; 
    bottom:100%; margin-bottom:-$size/2;
    left:50%; margin-left:-$size/2;
    border-radius:100%;
    box-shadow:0 2px 4px #999;
    background:white;
  }
  &.reverse{
  	transform:rotate(180deg);
  	margin-top: 8px;
  } 
}

.sendBtn {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding-top: 14px;
    border-radius: 0;
}
.mesasViewContainer{
	margin-bottom:50px;
}
.buttons-container{
	margin-bottom:60px;
	margin-top: -40px;
	.familiaBtn{
	    height: 80px;
	    margin: 0;
	    padding-top: 22px !important;
	}	
}