<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Lista de Pedidos Mesa XX</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          X
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h4>Pedidos mesa {{ctrl.locals.mesaId}}:</h4>
          <ul class="pedidosList">
            <li class="col s12" ng-repeat="pedido in ctrl.locals.parent.mesas[ctrl.locals.mesaId].pedidos" ng-class="{'familia{{pedido.familyId}}':pedido.familyId}" ><span class="pedidoName">{{pedido.nombreArt}}</span>
            <div class="or-spacer reverse col s9"><div class="mask"></div></div>
            <div class="or-spacer col s9"><div class="mask"></div></div>
            </li> 
        </ul>
    
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="ctrl.cancel()">
        Cerrar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>