<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Lista de Pedidos Mesa XX</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          X
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h3>Pedidos</h3>
          <ul>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
          </ul>
    
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        Cerrar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>